.footerContentChild {
  background-color: var(--color-royalblue-100);
}
.footerContent,
.footerContentChild,
.maskGroupIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.maskGroupIcon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.footerContent {
  margin: 0 !important;
}
.footerChild,
.footerSpacingIcon {
  width: 277px;
  height: 95px;
  position: relative;
}
.footerChild {
  display: none;
  z-index: 1;
}
.footerSpacingIcon {
  z-index: 2;
}
.text,
.text1,
.text2 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 105px;
}
.text1,
.text2 {
  min-width: 51px;
}
.text2 {
  min-width: 52px;
}
.textWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text3,
.text4 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 74px;
}
.text4 {
  min-width: 99px;
}
.moreLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text5 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 83px;
}
.contactLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text6 {
  position: relative;
  line-height: 24px;
}
.addressLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text7 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 98px;
}
.emailLinks,
.leftColumnLinks,
.textParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.leftColumnLinks,
.textParent {
  flex-direction: column;
}
.leftColumnLinks {
  gap: var(--gap-xs);
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.textParent {
  gap: var(--gap-7xl);
  min-width: 131px;
}
.text8 {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 86px;
}
.text10,
.text8,
.text9 {
  position: relative;
  line-height: 24px;
}
.text10 {
  display: inline-block;
  min-width: 81px;
}
.textFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text11,
.text12 {
  position: relative;
  line-height: 24px;
}
.text12 {
  display: inline-block;
  min-width: 109px;
}
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text13 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 85px;
}
.textWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text14 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 58px;
}
.textWrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text15 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 44px;
}
.textWrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.textContainer {
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.columnLeft,
.textContainer,
.textGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textGroup {
  flex-direction: column;
  gap: var(--gap-7xl);
  min-width: 166px;
}
.columnLeft {
  width: 377px;
  flex-direction: row;
  gap: var(--gap-61xl);
  max-width: 100%;
  z-index: 2;
}
.rightColumnTitle,
.socialLinkItems,
.text16 {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.rightColumnTitle {
  text-decoration: none;
  width: 99px;
  color: inherit;
}
.socialLinkItems,
.text16 {
  min-width: 108px;
}
.text16 {
  min-width: 37px;
}
.groupDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.socialLinkItems1,
.text17 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 48px;
}
.text17 {
  min-width: 51px;
}
.socialLinkItems2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text18 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 58px;
}
.socialLinkItems3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text19 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 65px;
}
.socialLinkItems4,
.socialLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.socialLinks {
  flex-direction: column;
  gap: var(--gap-xs);
}
.text20 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 49px;
}
.rightBottomLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text21 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 41px;
}
.rightBottomLinks1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text22 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 104px;
}
.rightBottomLinks2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.moreRightLinks {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.columnRight,
.moreRightLinks,
.rightColumnLinks {
  display: flex;
  align-items: flex-start;
}
.rightColumnLinks {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.columnRight {
  width: 292px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  z-index: 2;
}
.email,
.emailLabel {
  position: relative;
  display: inline-block;
}
.emailLabel {
  width: 258px;
  line-height: 24px;
}
.email {
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  line-height: 29px;
  color: var(--color-gray-200);
  text-align: left;
  min-width: 51px;
}
.vectorIcon {
  width: 26px;
  height: 26px;
  position: relative;
}
.emailIcon,
.inputIcon {
  display: flex;
  align-items: flex-start;
}
.inputIcon {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.emailIcon {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.emailFieldChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  flex-shrink: 0;
}
.emailField,
.emailInput {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.emailField {
  height: 46px;
  padding: 0 0 var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-mid);
}
.emailInput {
  gap: var(--gap-22xl);
}
.socialIcons1,
.socialIcons2 {
  min-height: 50px;
}
.bgIcon,
.socialIcons1,
.socialIcons2 {
  height: 50px;
  width: 50px;
  position: relative;
}
.socialIcon {
  height: 44%;
  width: 62%;
  position: absolute;
  margin: 0 !important;
  top: 28%;
  right: 20%;
  bottom: 28%;
  left: 18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.socialIconItems {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.bgIcon1 {
  height: 50px;
  width: 50px;
  position: relative;
}
.vectorIcon1 {
  height: 52%;
  width: 45.4%;
  position: absolute;
  margin: 0 !important;
  top: 24%;
  right: 26.6%;
  bottom: 24%;
  left: 28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.socialIconItems1,
.socialIcons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.socialIconItems1 {
  position: relative;
  gap: var(--gap-3xs);
}
.socialIcons {
  gap: var(--gap-xl);
}
.emailSignup,
.emailSignupForm,
.footerColumns {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.emailSignupForm {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-33xl);
}
.emailSignup,
.footerColumns {
  flex-direction: row;
}
.emailSignup {
  width: 340px;
  justify-content: flex-start;
  z-index: 2;
}
.footerColumns {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.copyrightChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--white);
  box-sizing: border-box;
  z-index: 2;
}
.copyrightContent,
.copyrightContent1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  z-index: 2;
}
.copyrightContent {
  text-decoration: none;
  color: inherit;
  min-width: 119px;
}
.copyrightContent1 {
  min-width: 104px;
}
.copyrightContentParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.copyright,
.footer,
.footerContent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.copyright {
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.footer,
.footerContent1 {
  gap: var(--gap-21xl);
  max-width: 100%;
}
.footer {
  align-items: flex-start;
  padding: var(--padding-31xl) var(--padding-61xl) var(--padding-4xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-30xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--white);
  font-family: var(--font-abel);
}
@media screen and (max-width: 1250px) {
  .footerColumns {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .footerContent1 {
    gap: var(--gap-xl);
  }
  .footer {
    gap: var(--gap-5xl);
    padding: var(--padding-13xl) var(--padding-21xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .text {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
  .textParent {
    flex: 1;
  }
  .text8 {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
  .textGroup {
    flex: 1;
  }
  .columnLeft {
    flex-wrap: wrap;
    gap: var(--gap-21xl);
  }
  .emailLabel,
  .rightColumnTitle {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
  .email {
    font-size: var(--font-size-base);
    line-height: 23px;
  }
  .emailInput {
    gap: var(--gap-xl);
  }
  .emailSignupForm {
    gap: var(--gap-7xl);
  }
}
